body {
    margin: 0;
    background-color: #bbbbff;
    font-family: sans-serif;

side {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #aaaaff;
    padding: 15px;
}

main {
    margin-left: 220px;
    padding: 20px;
}